@charset "utf-8";
/*
auth ccx
 运营调度
*/
html{ font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body { margin:0px 0px 0px 0px;padding:0; font:14px "Microsoft YaHei",san-serif; color:#333;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{ text-decoration:none;}
.left{ float:left}
.right{ float:right}
.clear{ clear:both}
*{ box-sizing:border-box}
.window-dialog .window-header{ box-sizing:content-box}

.search-box{
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 1% 0 1% 1%;
    border-radius: 5px;
}

.box-farm{
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    width: 49%;
    padding: 0;
    border-radius: 5px;
}

.box-title{
    padding: 1% 0 1% 2%;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}
.content-box{
    width: 100%;
    /*height: 171px;*/
    font-size: 14px;
    color: #333333;
    background-color: #f9f9f9;
}
.kpi-box{
    height: 65%;
    width: 22.5%;
    border: 1px solid #e0e0e0;
    float: left;
    margin: 2% 1% 2% 1%;
    border-radius: 5px;
}
.kpi-name{
    padding: 5% 0 2% 0;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-align: center;
}
.kpi-value{
    padding: 2% 0 2% 0;
    font-size: 14px;
    text-align: center;
}
.kpi-value span{
    font-size: 20px;
    font-weight: bold;
    color: #0091d5;
}
.kpi-progress{
    margin: 0 7.5% 0 7.5%;
    width: 85%;
    background-color: #d0d0d0;
    border-radius: 5px;
}

.kpi-progress div{
    margin: 2% 0 2% 0;
    width: 80%;
    padding: 5% 0 5% 0;
    background-color: #0091d5;
    height: 100%;
    border-radius: 5px;
}
.kpi-info{
    padding: 1% 0 3% 0;
    font-size: 14px;
    text-align: center;
}


.box-farm1{
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #e0e0e0;*/
    width: 49%;
    padding: 0;
 /*   border-radius: 5px;*/
}

.chart-box{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.chart-title{
    padding: 1% 0 1% 2%;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}
.chart-content{
    height: 200px;
}

.box-table-search{
    text-align: left;
    padding: 2% 0 2% 2%;
}
.box-table-count{
    text-align: left;
    padding: 0% 0 0% 2%;
}
.table-box{

    width: 100%;
    height: 440px;
    margin: 2% 2% 2% 2%;
}

